/* CSS DOCUMENT */
body {
   font-family: sans-serif;
   background-color: rgb(52, 54, 59);
   color: white;
   text-align: center;
   padding-left: 1em;
   padding-right: 1em;
}
h1 {
   font-family: serif;
   color: rgb(255, 187, 0);
   text-transform: uppercase;
}
h2 {
   font-family: serif;
   text-transform: uppercase;
}
h3 {
   color: rgb(235, 171, 45);
   text-transform: uppercase;
   padding-top: 2em;
}
h4 {
   color: rgb(255, 230, 162);
}
li {
   list-style: none;
}
ul {
   padding: 0;
}
.prices {
   font-style: italic;
}
