/*CSS DOCUMENT*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap");

img {
    width: 100%;
}

div.container {
    max-width: 60em;
    margin: auto;
    padding: 1em;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #eee2dc;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #123c69;
}

h1,
h2,
h3 {
    font-family: "Merriweather", serif;
    text-transform: uppercase;
}

h2,
h5 {
    color: #123c69;
}

h3 {
    color: #ac3b61;
}

h5 {
    font-size: 1em;
    margin-bottom: 0;
}

figure {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
}

figcaption {
    margin-top: 1em;
}

section {
    margin-top: 4em;
    margin-bottom: 4em;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

ul li a:hover {
    color: #ac3b61;
    font-weight: bold;
}

nav ul {
    text-align: right;
    margin-right: 0.5em;
    padding-top: 9%;
    padding-bottom: 9%;
}

nav ul li {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    margin-right: 0.5em;
}

section ul li {
    line-height: 1em;
}

footer {
    background-color: #123c69;
    padding: 0.5em;
}

footer ul {
    text-align: center;
}

footer ul li {
    margin-right: 2em;
}

.prices {
    font-style: italic;
}

@media screen and (min-width: 40em) {
    section.aboutphotos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 1.5em;
    }

    nav ul li {
        font-size: 1.7em;
    }
}

/*Please don’t change this CSS stylesheet for the content hierarchy assginment */
